<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loc's Job Search App</title>
  <link rel="icon" type="image/jpeg" th:href="@{/images/logowww.jpg}" >
  <meta property="og:image" th:content="@{/images/logowww.jpg}">
  <link rel="stylesheet" href="/css/skill/AddSkill.css">
</head>
<body>
<p>Add Skill</p>

<form method="post"
      th:object="${skill}"
      th:action="@{/Skill/SaveSkill}"
>
  <div class="divSkill">
  <label>Tên kỹ năng: </label> <input type="text" th:field="*{skillName}" required>
  </div>
  <div class="divSkill">
  <label>Loại kỹ năng: </label>
  <select th:field="*{type}">
    <option th:each="item : ${listSkillType}" th:text="${item}" th:value="${item}"></option>
  </select>
  </div>
  <div class="divSkill">
  <label>Mô tả kỹ năng: </label> <textarea cols="15" rows="5" th:field="*{skillDescription}" wrap="hard" required></textarea>
  </div>
  <input type="submit" value="Thêm"/>
</form>

<table border="1">
  <tr>
    <th>STT</th>
    <th>Tên kỹ năng</th>
    <th>Loại kỹ năng</th>
    <th>Mô tả kỹ năng</th>
    <th>Edit</th>
  </tr>

  <tr th:each="item, index : ${listSkill}">

    <td th:text="${index.count}"></td>
    <td th:text="${item.skillName}"></td>
    <td th:text="${item.type}"></td>
    <td th:text="${item.skillDescription}"></td>
    <td><a th:href="@{/Skill/AddSkill(delete=${item.id})}">Delete</a></td>

  </tr>
</table>
</body>
</html>