p{
    justify-self:center
}
form{
    display:flex;
    flex-direction:column;
    gap:10px;
    align-self:center;
    justify-self:center;
    margin-bottom:30px;
}
.divSkill{
    display:flex;
    align-items:center;
    gap:10px;
}
table{
    justify-self:center;
    width:75vw;
}